/**Tags**/

h1{
    
    font-size: 1000rem;
}








/*Class */
.flex-container{
    display: flex;
}

.logoImage{
    
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 1%;
    margin-left: 7.5%;
    
    
    
}

.logoText{
   
    height: 5rem;
    font-family: cursive;;
    font-size: 2rem;
    color: #185ADB;
    margin-left: 6%;
    margin-top: 20%
    }

.topHeadingText{
    
   font-family: 'Roboto Condensed', sans-serif;
    
    margin-top: 18%;
    margin-left: 6%;
    font-size: 4.5rem;
    color: #0A1931;
    
}

.topParagraphText{
    
    margin-left: 6%;
  font-family: 'Ubuntu', sans-serif;
    color:rgb(79, 84, 103)
    
    
    
}

.signUpBox {
  border: none;
    background-color: #ffffff;
    padding: 24px;
    margin-top: 24px;
    margin-bottom: 8px;
   margin-left: 6%;
    height: 150px;
    width: 550px;
}


.btn-group{
    
    width: 100%;
    height: 40%;
}
.or{
    
    margin-left: 6%;
}

.accountLogin{
    
    margin-left: 6%;
  font-family: 'Ubuntu', sans-serif;
    color:rgb(79, 84, 103);
    
}

.login p{
    display: inline-block;
}

.imageParagraph{
    margin-top: 15%;
    color: #595260;
    font-size: 0.9rem;
}

.imageHeading{
    
font-family: 'Poppins', sans-serif;
color:#0A1931;
}
/*Css of image changing*/

/* custom */

.page-wrapper{
  width:960px;
  margin:0 auto;
  text-align:center;
}
.select-block {
  list-style:none;
  padding:0;
   cursor:default;
   -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
 
}

.select-block li{
  cursor:default;
  display: inline-block;
  width:50px;
  height:50px;
  line-height:50px;
  text-align: center;
  border: 2px solid #fff;
  border-radius:50%;
  
}
.select-block li.active{
  border-color:#ddd;
}
.bg-block img {
  max-width:100%;
}
/* musthave style */
.bg-container {
  position:relative;
  
}
.bg-container:before{
  content: '';
  display: block;
  padding-top: 56.25%;
  height: 0;
}
.bg-block {
  position:absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.bg-block.active {
  filter: alpha(opacity=100);
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity:1;
}
.animatedImageText{
    
    font-size: 1rem;
     color: #595260;
   font-family: 'Poppins', sans-serif;
}


.hiringParagraph-left{
    color: #185ADB;
    font-family:monospace;
  display: inline-block;
    margin-left: 3.2%;
    margin-top: 1%;
    
}
.hiringParagraph-right{
    display: inline-block;
    font-size: 0.6rem;
    background-color: #185ADB;
    color: #ffffff;
 border-radius: 25px;
  border: 2px solid #185ADB;
  font-family: 'Ubuntu', sans-serif;
    padding-left: 1%;
    padding-right: 1%;
}
.hiring{
    background-color: #EEEEEE;
    height: 30px;
  width: 150px;
    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: 2%;

}
.loginLogo{
    
    margin-left: 40%;
    margin-top: 1%;
}
.loginHeading{
    margin-left: 43%;
    margin-top: 1%;
    font-size: 3.3em;
      color: #0A1931;

}

.loginImg{
    
    margin-top: 1%;
    margin-left: 30%;
}


.loginParagraph{
    font-size: 1rem;
    align-content: center;
    font-family: 'Ubuntu', sans-serif;
    
}

/*ID*/
#image{
    
    width: 50%;
    height: 800px;
    background-color: #F9F9F9;
}
.enterEmail{
    
    margin-top: 50%
}

#text{
     width: 50%;
    height: 800px;
    background-color:  #EEEEEE;
}
#logo{
    
    margin-left: 5%;
    margin-top: 10%;
}
#googleLogin{
    
    font-size: 110%;
    
}

#enterEmail{
    margin-top: 5%;
}
#submitBtn{
    width: 40%;
}

#loginBtn{
    
    margin-top: 12%;
    margin-left: 80%;
}


#animated{
    margin-right: 25%;
}

#loginGoogle{
    width: 30%;
    margin-left: 36%;
}
#loginSearch{
    width: 30%;
    margin-left: 36%;

    
}


